<section class="SiteWidth">
  <div class="MainContent">
    <div class="TwoCols">
      <div class="LeftCol">
        <mat-tab-group class="MultiTab" mat-stretch-tabs [selectedIndex]="selected.value"
          (selectedIndexChange)="selected.setValue($event)">
          <mat-tab label="Billing Address">
            <div class="mat-tab-main">
              <button mat-raised-button color="primary" (click)="step1 = true; selected.value=1">Next</button>
            </div>
          </mat-tab>
          <mat-tab label="Delivery Options" [disabled]="selected.value < 1">
            <div class="mat-tab-main">
              <button mat-raised-button (click)="selected.value=0">Back</button>
              <button mat-raised-button color="primary" (click)="selected.value=2">Next</button>
            </div>
          </mat-tab>
          <mat-tab label="Order Status" [disabled]="selected.value < 2">
            <div class="mat-tab-main">
              <button mat-raised-button (click)="selected.value=1">Back</button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="RightCols">
        <div class="ItemBox Widget">
          <iframe width="420" height="200" src="https://www.youtube.com/embed/9wZ2ClgnUa0?rel=0" frameborder="0"
            allowfullscreen=""></iframe>
        </div>
        <div class="ItemBox Widget">
          <iframe
            src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fchilindo.auction&width=280&height=400&colorscheme=light&show_faces=true&header=false&stream=false&show_border=false&appId=158776737652373"
            height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
            allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>