<div class="footer">
  <div class="CategoryList">
    <div class="SiteWidth">
      <h4>{{ '62.localizedText' | translate }}</h4>
    </div>
    <app-category-nav class="app-category"></app-category-nav>
  </div>
  <div class="SiteLink">
    <div class="SiteWidth">
      <div class="SiteCol">
        <h4>{{ '63.localizedText' | translate }}</h4>
        <ul>
          <li><a href="#">{{ '716.localizedText' | translate }}</a></li>
          <li><a href="#">User Agreement</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Company Info</a></li>
          <li><a href="/jobs">{{ '431.localizedText' | translate }}</a></li>
        </ul>
      </div>
      <div class="SiteCol">
        <h4>{{ '814.localizedText' | translate }}</h4>
        <ul>
          <li><a href="#">{{ '619.localizedText' | translate }}</a></li>
          <li><a href="#">Delivery Info</a></li>
          <li><a href="#">Registration</a></li>
          <li><a href="#">Biding Help</a></li>
          <li><a href="#">Payments & Shipping</a></li>
        </ul>
      </div>
      <div class="SiteCol">
        <h4>{{ '64.localizedText' | translate }}</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="SiteInfo">
    <div class="SiteWidth">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="50" class="query">
          <div fxFlex="50">{{ '246.localizedText' | translate }}</div>
          <div fxFlex="50">{{ '247.localizedText' | translate }}<a
              href="mailto:support@chilindo.com">support@chilindo.com</a></div>
        </div>
        <div fxLayout="column" fxLayout.xs="row" fxFlex="50" class="copyright">
          <div fxFlex="50">{{ '249.localizedText' | translate }}</div>
          <div fxFlex="50">All Rights Reserved.</div>
        </div>
      </div>
    </div>
  </div>
</div>