.SplashScreen{
    background: rgba(26, 182, 234,1) url('/assets/LoaderIcon.png') 50% 50% no-repeat;
    background-size: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }